@import url('https://rsms.me/inter/inter-ui.css');

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter UI', sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;

    #canvas {
        position: fixed;
        top: 0;
        left: 0;
    }
}

.top.panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #111;
    display: flex;
    align-items: center;
    padding: 0 24px;
    z-index: 100;

    a {
        color: #fff;
        opacity: 0.8;

        & + a {
            margin-left: 16px;
        }
    }
}

.leftpanel {
    display: flex;
    position: relative;
    padding-top: 40px;
    width: 242px;
    height: 100vh;
    z-index: 100;

    .layers {
        height: 100%;
        width: 200px;
        background-color: #111;
        color: #fff;

        .layer {
            background-color: #1c1d1e;
            border-bottom: 1px solid #2e3031;
            padding: 0 12px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
                line-height: 1;
            }

            &.selected {
                background-color: #4756ff;
                border-color: #404bc9;
            }
        }
    }

    .tools {
        background-color: #1c1d1e;
        width: 42px;
        padding: 8px 0;
        height: 100%;
        color: #d4d4d4;
        border-right: 1px solid #2e3031;

        .tool {
            width: 100%;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.64;

            &:hover {
                opacity: 1;
            }
        }
    }
}
